#box{
    width: 250px;
    height: 250px;
    border: 2px solid;
    font-size: 13em;
    text-align: center;
    background-color: chocolate;
    animation-name: glow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* opacity: 0; */
    /* animation-timing-function: linear;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-delay: 1s; */
}

/* #box:hover{
    animation-name: glow;
    animation-duration: 1s;
    cursor: pointer;
} */

/* @keyframes slideright{
    from{transform:translateX(50%)}

} */

/* @keyframes rotate{ 
    50%{transform: rotateZ(360deg)}   
} */

/* @keyframes grow{
    50%{transform: scale(2, 2)}
}

@keyframes shrink{
    50%{transform: scale(0.5, 0.5)}
}

@keyframes fade{
    50%{opacity: 0.5}
} */

/* @keyframes fadeIn{
    100%{opacity: 1}
} */

@keyframes colorChange{
    0%{background-color: red}
    50%{background-color: green}
    100%{background-color: blue}
}

@keyframes glow{
    50%{box-shadow: 0 0 50px red}
}